body{
  margin: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:#242424;
}
.pozadina{
  height: 500px;
  background-size: cover;
  background-position: center;
  background-image: url(slike/wallpaper.avif);
}
.container{
  width: 75%;
  margin: auto;
  overflow: hidden;
}
header{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.logo h3{
  margin: 0;
  padding: 0;
}
.prvi{
  color: rgb(211, 37, 37);;
}
.drugi{
  color: white;
}
.logo img{
  margin-right: 15px;
}
nav {
  float: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin-right: 35px;
  font-weight:500;
  font-size: 13px;
  padding-bottom: 10px;
  border-bottom: solid 2px transparent;
}
li:hover{
  border-bottom: rgb(211, 37, 37) solid 3px;
}

a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
}
.naslov h1{
  color: white;
  font-size: 65px;
  font-weight: 400;
  margin-bottom: 30px;
}
.naslov p{
  color: gray;
  width:60%;
  text-align: justify;
  margin-bottom: 60px;
}
.naslov{
  width: 60%;
  margin-left: 30px;
}

.crvene{
  color: red;
}
.bijele{
  color: white;
}
.okolo{
  height: 300px;
  position: relative;
  border-bottom: 2px solid rgb(69, 69, 69);
}
.okolo::before, .okolo::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 2px; 
  height: 100%; 
  background: linear-gradient(to top, rgb(69, 69, 69), transparent); 
}

.okolo::before {
  left: 0; 
}

.okolo::after {
  right: 0;
}
.stavka{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-top: 100px;
  height: 400px;
  width: 100%;
}
.img1, .img2, .img3, .img4{
  border-radius: 20px;
  width: 40%;
  height: 400px;
  background-position: center;
  background-size: cover;
}
.img1{
  background-image: url(slike/onama2.jpg);
}
.img2{
  background-image: url(slike/onama3.jpg);
}
.img3{
  background-image: url(slike/onama4.jpg);
}
.img4{
  background-image: url(slike/pozadina.jpg);
}
.txt{
  width: 40%;
}
.txt p{
  text-align: justify;
  color: gray;
}
.txt h1{
  color: white;
  font-size: 35px;
  font-weight: 300;
}
.linija{
  height: 300px;
  width: 4px;
  background-color: red;
  margin: auto;
}
.form__group {
  position: relative;
  padding:30px 0 0;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #540000, red);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: white;
  font-weight: 700;
}
.form__field:required, .form__field:invalid {
  box-shadow: none;
}
.footer-lijevi{
  border-top: 2px solid red;
  height: 500px;
  width: 50%;
  background-color: #2c2c2c;
}
.kontent{
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 100px;
}
.kontent h1{
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer{
  margin-top: 100px;
}
.footer button{
  width: 150px;
  height: 40px;
  background-color:#242424;
  color: white;
  font-size: 15px;
  border: 2px solid red;
  border-radius: 20px;
  margin-top: 25px;
}
.footer button:hover{
  background-color: #2c2c2c;
  cursor: pointer;
  border: 3px solid red;
}
.lajna{
  width: 100px;
  height: 4px;
  background-color: red;
  margin-top: 0%;
}
.footer{
  margin-top: 100px;
  display: flex;
}
.footer-desni{
  width: 50%;
  height: 500px;
  border-top: 2px solid red;
}
iframe{
  width: 100%;
  height: 100%;
}