body{
  margin: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:#242424;
}
.pozadina{
  height: 500px;
  background-size: cover;
  background-position: center;
  background-image: url(slike/image\ \(6\).jpg);
}
.container{
  width: 75%;
  margin: auto;
  overflow: hidden;
}
.odjava{
  color: red;
}
header{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.logo h3{
  margin: 0;
  padding: 0;
}
.prvi{
  color: rgb(211, 37, 37);;
}
.drugi{
  color: white;
}
.logo img{
  margin-right: 15px;
}
nav {
  float: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin-right: 35px;
  font-weight:500;
  font-size: 13px;
  padding-bottom: 10px;
  border-bottom: solid 2px transparent;
}
li:hover{
  border-bottom: rgb(211, 37, 37) solid 3px;
}

a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
}
.naslov h1{
  color: white;
  font-size: 65px;
  font-weight: 400;
  margin-bottom: 30px;
}
.naslov p{
  color: gray;
  width:60%;
  text-align: justify;
  margin-bottom: 60px;
}
.naslov{
  width: 60%;
  margin-left: 30px;
}

.crvene{
  color: red;
}
.bijele{
  color: white;
}
.okolo{
  height: 300px;
  position: relative;
  border-bottom: 2px solid rgb(69, 69, 69);
}
.okolo::before, .okolo::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 2px; 
  height: 100%; 
  background: linear-gradient(to top, rgb(69, 69, 69), transparent); 
}

.okolo::before {
  left: 0; 
}

.okolo::after {
  right: 0;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#container {
  margin-top: 70px;
  display: flex;
  width: 80%;
  height: 80%;
}

.categories {
  width: 30%;
  height: 544px;
  background: #2c2c2c;
  padding: 15px 0px 30px 0px;
  box-sizing: border-box;
  border-radius: 20px;
  margin-left: 80px;
}

.category-button {
  display: block;
  width: 100%;
  padding: 15px;
  background: none;
  color: gray;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 15px;
  padding-left: 30px;
}
.category-button1 {
  display: block;
  width: 100%;
  padding: 15px;
  background: none;
  color: white;
  border: none;
  text-align: left;
  font-size: 20px;
  padding-left: 30px;
}


.category-button:hover, .category-button.active {
  background: #242424;
}

.content {
  width: 75%;
  height: 160vh;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.content-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.content-item.active {
  display: block;
  opacity: 1;
}
.lajna{
  width: 100%;
  margin: auto;
  height: 4px;
  background-color: red;
  margin-top: 70px;
}
.mali{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  gap: 0px;
  margin: 0px;
}
.mali h2{
  width: 30px;
  height: 30px;
  margin-right: 15px;
  color: red;
  font-size: 30px;
  padding: 15px;
}
.mali h1{
  font-size: 25px;
  font-weight: 400;
  color: white;
  margin: 0;
}
.tekstv2{
  display: flex;
  flex-direction: column;
}
.stavka{
  display: flex;
  padding: 30px;
  padding-left: 0%;
  margin: 0%;
}
.tekstv2 p{
  color: gray;
  font-size: 15px;
}
.veliki{
  color: gray;
  font-size: 15px;
  margin-bottom: 30px;
}

.karakter{
  color:white;
  font-weight: 400;
  margin-bottom: 0%;
  margin-top: 50px;
}
.karakter2{
  color:white;
  font-weight: 400;
  font-size: 45px;
  margin: 0px 0px 60px 0px;
}
.content img{
  border-radius: 20px;
  width: 100%;
  height: 500px;
}
.form__group {
  position: relative;
  padding:30px 0 0;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #540000, red);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: white;
  font-weight: 700;
}
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.kontent{
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 100px;
}
.kontent h1{
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
}
footer{
  width: 100%;
  background-color: #2c2c2c;
  margin-top: 50px;
  padding-top: 50px;
}
.left{
  display: flex;
  align-items: center;
  width: 20%;
}
.right{
  display: flex;
  align-items: center;
  width: 10%;
}
.right img{
  height: 30px;
  margin:auto;
}
.container2{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav{
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-right: 100px;
}
.nav h4{
  font-size: 15px;
  font-weight: 100;
}
hr{
  margin-top: 40px;
}
.bottom{
  display: flex;
  color: gray;
  width: 30%;
  justify-content: space-between;
  margin: auto;
}